.card {
    border-radius: var(--radius);
    border: 1px solid var(--border);
    background-color: var(--card);
    color: var(--card-foreground);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.header {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: -0.025em;
}

.content {
    padding: 1.5rem;
}